@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
}

::selection {
    color: #464C2B;
    background: #62701E;
  }


.backdrop{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(/assets/img/BgDefault.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login_frame{
    width: 80%;
    height: 70%;
    justify-content: center;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    background-color: #00000099;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.login_content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.taskbar_time{
    background-color: #00000099;
    backdrop-filter: blur(20px);
    border-radius: 100px 0 0 100px;
    color: white;
    padding: 20px;
}

.taskbar_date{
    background-color: #00000099;
    backdrop-filter: blur(20px);
    border-radius: 0px 100px 100px 0px;
    color: white;
    padding: 20px;
}

.timedatecont{
    display: flex;
    margin-top: 10px;

}

.oliveoswelcome{
    padding: 15px;
    text-align: center;
}

.input{
    width: 75%;
    height: 50px;
    background-color: #00000099;
    margin: 10px;
    border-radius: 100px;
    outline: transparent 0px;
    border: none;
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 400;
}

.input:focus{
    width: 76%;
    background-color: #14141499;
    transition: all 0.5s ease;
    font-weight: 500;
}

.CapsLock{
    opacity: 0;
    scale: 75%;
    font-weight: 700;
    transition: all 0.5s ease;
}

.loginusingrotur{
    width: 75%;
    height: 50px;
    background-color: #00000099;
    margin: 10px;
    border-radius: 100px;
    outline: transparent 0px;
    border: none;
    text-align: center;
    font-weight: 600;
    transition: all 0.5s ease;
    cursor: pointer;
}

.loginusingrotur:hover{
    width: 76%;
    background-color: #28630b99;
    transition: all 0.5s ease;
    font-weight: 700;
}

.loginusingdiscord{
    width: 75%;
    height: 50px;
    background-color: #00000099;
    margin: 10px;
    margin-top: 20px;
    border-radius: 100px;
    outline: transparent 0px;
    border: none;
    text-align: center;
    font-weight: 600;
    transition: all 0.5s ease;
    cursor: pointer;
}

.loginusingdiscord:hover{
    width: 76%;
    background-color: #771f9499;
    transition: all 0.5s ease;
    font-weight: 700;
}

.loginusinggoogle{
    width: 75%;
    height: 50px;
    background-color: #00000099;
    margin: 10px;
    border-radius: 100px;
    outline: transparent 0px;
    border: none;
    text-align: center;
    font-weight: 600;
    transition: all 0.5s ease;
    cursor: pointer;
}

.loginusinggoogle:hover{
    width: 76%;
    background-color: #b23a3a99;
    transition: all 0.5s ease;
    font-weight: 700;
}

.loginusinggh{
    width: 75%;
    height: 50px;
    background-color: #00000099;
    margin: 10px;
    border-radius: 100px;
    outline: transparent 0px;
    border: none;
    text-align: center;
    font-weight: 600;
    transition: all 0.5s ease;
    cursor: pointer;
}

.loginusinggh:hover{
    width: 76%;
    background-color: #4000ff99;
    transition: all 0.5s ease;
    font-weight: 700;
}

.loginwithsomethingelse{
    opacity: 0;
    display: none;
}

a{
    text-decoration: none;
}

.moreoptions{
    text-align: center;
    width: 50%;
    height: fit-content;
    background-color: #00000000;
    margin: 10px;
    border-radius: 100px;
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;
}

.moreoptions:hover{
    width: 70%;
    padding: 10px;
    background-color: #00000099;
    transition: all 0.5s ease;
}

.login_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sgnup_close_icon{
    width: 20px !important;  
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}